In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
path = './'
train = pd.read_csv(path + 'input/pfm_train.csv')
test = pd.read_csv(path + 'input/pfm_test.csv')

In [2]:
train.info()
print('*' * 50)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 31 columns):
Age                         1100 non-null int64
Attrition                   1100 non-null int64
BusinessTravel              1100 non-null object
Department                  1100 non-null object
DistanceFromHome            1100 non-null int64
Education                   1100 non-null int64
EducationField              1100 non-null object
EmployeeNumber              1100 non-null int64
EnvironmentSatisfaction     1100 non-null int64
Gender                      1100 non-null object
JobInvolvement              1100 non-null int64
JobLevel                    1100 non-null int64
JobRole                     1100 non-null object
JobSatisfaction             1100 non-null int64
MaritalStatus               1100 non-null object
MonthlyIncome               1100 non-null int64
NumCompaniesWorked          1100 non-null int64
Over18                      1100 non-null object
OverTime                    1100 non-null object
PercentSalaryHike           1100 non-null int64
PerformanceRating           1100 non-null int64
RelationshipSatisfaction    1100 non-null int64
StandardHours               1100 non-null int64
StockOptionLevel            1100 non-null int64
TotalWorkingYears           1100 non-null int64
TrainingTimesLastYear       1100 non-null int64
WorkLifeBalance             1100 non-null int64
YearsAtCompany              1100 non-null int64
YearsInCurrentRole          1100 non-null int64
YearsSinceLastPromotion     1100 non-null int64
YearsWithCurrManager        1100 non-null int64
dtypes: int64(23), object(8)
memory usage: 266.5+ KB
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 30 columns):
Age                         350 non-null int64
BusinessTravel              350 non-null object
Department                  350 non-null object
DistanceFromHome            350 non-null int64
Education                   350 non-null int64
EducationField              350 non-null object
EmployeeNumber              350 non-null int64
EnvironmentSatisfaction     350 non-null int64
Gender                      350 non-null object
JobInvolvement              350 non-null int64
JobLevel                    350 non-null int64
JobRole                     350 non-null object
JobSatisfaction             350 non-null int64
MaritalStatus               350 non-null object
MonthlyIncome               350 non-null int64
NumCompaniesWorked          350 non-null int64
Over18                      350 non-null object
OverTime                    350 non-null object
PercentSalaryHike           350 non-null int64
PerformanceRating           350 non-null int64
RelationshipSatisfaction    350 non-null int64
StandardHours               350 non-null int64
StockOptionLevel            350 non-null int64
TotalWorkingYears           350 non-null int64
TrainingTimesLastYear       350 non-null int64
WorkLifeBalance             350 non-null int64
YearsAtCompany              350 non-null int64
YearsInCurrentRole          350 non-null int64
YearsSinceLastPromotion     350 non-null int64
YearsWithCurrManager        350 non-null int64
dtypes: int64(22), object(8)
memory usage: 82.1+ KB

In [3]:
train.Attrition.value_counts()

0    922
1    178
Name: Attrition, dtype: int64

In [4]:
test['Attrition'] = -1
data = train.append(test).reset_index(drop=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [5]:
data.drop(['Over18', 'StandardHours'], axis=1, inplace=True)

In [6]:
cat_col = [i for i in data.select_dtypes(object).columns if i not in ['Attrition']]

#### 可用itertools.combinations组合特征

In [7]:
# from itertools import combinations
# from tqdm import tqdm_notebook
# cat_cross=[]
# for col in tqdm_notebook(combinations(cat_col, 2)):   
#     data[str(col[0]) + '_' + str(col[1])] = data[col[0]].map(str) + '_' + data[col[1]].map(str)
#     cat_cross.append(str(col[0])+'_'+str(col[1]))

In [7]:
cat_col

['BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'OverTime']

In [9]:
#分箱
#train['MonthlyIncome'] = pd.cut(train['MonthlyIncome'], bins=10)

In [10]:
cat_col

['BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'OverTime']

In [8]:
def encode_onehot(df, column_name):
    feature_df = pd.get_dummies(df[column_name], prefix=column_name)
    concat = pd.concat([df.drop([column_name], axis=1), feature_df], axis=1)
    return concat

In [9]:
for i in cat_col:
    data = encode_onehot(data, i)

In [10]:
data.EmployeeNumber.value_counts()

2046    1
643     1
645     1
647     1
648     1
649     1
650     1
652     1
653     1
655     1
656     1
657     1
659     1
661     1
662     1
663     1
664     1
665     1
666     1
667     1
669     1
644     1
641     1
608     1
639     1
612     1
613     1
614     1
615     1
616     1
       ..
1395    1
1396    1
1397    1
1399    1
1401    1
1402    1
1403    1
1374    1
1373    1
1372    1
1356    1
1338    1
1340    1
1344    1
1346    1
1349    1
1350    1
1352    1
1355    1
1358    1
1371    1
1360    1
1361    1
1362    1
1363    1
1364    1
1367    1
1368    1
1369    1
2048    1
Name: EmployeeNumber, Length: 1450, dtype: int64

In [11]:
data.drop(['EmployeeNumber'], axis=1, inplace=True)
# 删除唯一值

In [12]:
data.head()

,Age,Attrition,DistanceFromHome,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,37,0,1,4,1,2,2,3,5993,1,18,3,3,1,7,2,4,7,5,0,7,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0
1,54,0,1,4,4,3,3,3,10502,7,17,3,1,1,33,2,1,5,4,1,4,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
2,34,1,7,3,1,1,2,3,6074,1,24,4,4,0,9,3,3,9,7,0,6,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1
3,39,0,1,1,4,2,4,4,12742,1,16,3,3,1,21,3,3,21,6,11,8,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
4,28,1,1,3,1,2,1,2,2596,1,15,3,1,2,1,2,3,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0

In [13]:
feats = [i for i in data.columns if i not in ['Attrition']]

In [14]:
import numpy as np

max_min_scaler = lambda x: (x - np.min(x)) / (np.max(x) - np.min(x))
for i in feats:
    data[i] = data[[i]].apply(max_min_scaler)

In [15]:
data.head()

,Age,Attrition,DistanceFromHome,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.452381,0,0.000000,0.75,0.0,0.333333,0.25,0.666667,0.262454,0.111111,0.500000,0.0,0.666667,0.333333,0.175,0.333333,1.000000,0.189189,0.277778,0.000000,0.411765,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.857143,0,0.000000,0.75,1.0,0.666667,0.50,0.666667,0.499895,0.777778,0.428571,0.0,0.000000,0.333333,0.825,0.333333,0.000000,0.135135,0.222222,0.066667,0.235294,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.380952,1,0.214286,0.50,0.0,0.000000,0.25,0.666667,0.266719,0.111111,0.928571,1.0,1.000000,0.000000,0.225,0.500000,0.666667,0.243243,0.388889,0.000000,0.352941,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.500000,0,0.000000,0.00,1.0,0.333333,0.75,1.000000,0.617852,0.111111,0.357143,0.0,0.666667,0.333333,0.525,0.500000,0.666667,0.567568,0.333333,0.733333,0.470588,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.238095,1,0.000000,0.50,0.0,0.333333,0.00,0.333333,0.083570,0.111111,0.285714,0.0,0.000000,0.666667,0.025,0.333333,0.666667,0.027027,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

train = data[data['Attrition'] != -1][feats]
train = train.fillna(0)
label = data[data['Attrition'] != -1]['Attrition']
test = data[data['Attrition'] == -1][feats]
test = test.fillna(0)

model = LogisticRegression()
model.fit(train, label)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

#### 直接得到单模结果

In [17]:
p = model.predict_proba(test)[:,1]
test['result'] = p
test[['result']].to_csv(path + 'output/lr_proba.csv', index=False)

In [18]:
del test['result']
y_hat = model.predict(test)
test['result'] = y_hat
test[['result']].to_csv(path + 'output/lr_submission.csv', index=False)

使用网络搜索选择最优参数

In [19]:
from sklearn.model_selection import GridSearchCV
lg = LogisticRegression()
clf = GridSearchCV(lg, param_grid=[{'C':np.arange(0.001, 0.05, 0.001)}], cv=5)
clf.fit(train, label)
best_model = clf.best_estimator_
clf.best_params_

{'C': 0.048}

In [20]:
del test['result']
result = best_model.predict(test)
pd.DataFrame({'result':result}).to_csv(path + 'output/grid_lrsubmission.csv', index=False)

简单融合lgb 和 lr 的概率: 
效果不是很好

In [21]:
result = pd.DataFrame({'result': (pd.read_csv(path + 'output/lr_proba.csv')['result'] + pd.read_csv(path + 'output/lgb_proba.csv')['result'])/2})
result['result'] = (result['result'] > 0.5).astype(int)
result.to_csv(path + 'output/lgb_lr_55.csv', index=False)

In [22]:
result = pd.DataFrame({'result': (pd.read_csv(path + 'output/lr_proba.csv')['result'] + pd.read_csv(path + 'output/gbdt_proba.csv')['result'])/2})
result['result'] = (result['result'] > 0.5).astype(int)
result.to_csv(path + 'output/gbdt_lr_55.csv', index=False)